@{
    ViewData["Title"] = "Blog Title";
}

<div>


    <div class="px-2">
        <div class="mb-5 row">
            <div id="blog" class="col-md-7 ml-auto bg-shadowblue white-border">
                <h1 class="display-4 text-center mt-3">Blog Title</h1>
                <hr/>
                <img src="http://placekitten.com/g/600/400" alt="" class="mx-auto mt-3 col-12 "/>
                <p id="image-description" class="text-center"><small>Kitty. Lookin smol.</small></p>

                <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
                
                <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>

                <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. </p>

                <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. </p>

                <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>


            </div>
            <div class="col-12 col-md-3 mr-auto">
                <div id="subscribe" class="text-center">
                    <div id="subscribe-component" class="p-2 mb-3 mt-2 mt-md-0 bg-shadowblue white-border">
                        <p>Sign up for our Newsletter!</p>
                        <form>
                            <div class="form-group col-md-11 mx-auto">
                                <label htmlFor="email">Email:</label>
                                <input type="text" name="email" id="email" class="form-control" />
                            </div>
                            <div class="text-center">
                                <button class="btn btn-dark border">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="labels" class="my-2 p-2 mb-3 bg-shadowblue white-border mr-auto">
                    <button>Bloggster</button>
                    <button>Kitties</button>
                    <button>Smol Items</button>
                    <button>Fluffy</button>
                    <button>Samuel L Kitty</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="comment-section" class="offset-md-1 col-md-7 py-3 bg-shadowblue white-border">

                <h4>Comments</h4>

                <div class="comment comment-border px-4 pt-1 mb-3">
                    <!-- Clickable to user account? -->
                    <div><strong>So and So says:</strong></div>
                    <p class="comment-date">7/20/19 @@ 2:30 PM EST</p>
                    <p>This is what I have to say!</p>
                </div>

                <div class="comment comment-border px-4 pt-1 mb-3">
                    <div><strong>So and So says:</strong></div>
                    <p class="comment-date">7/20/19 @@ 2:30 PM EST</p>
                    <p>This is what I have to say!</p>
                </div>

                <div class="comment comment-border px-4 pt-1 mb-3">
                    <div><strong>So and So says:</strong></div>
                    <p class="comment-date">7/20/19 @@ 2:30 PM EST</p>
                    <p>This is what I have to say!</p>
                </div>

                <div class="comment comment-border px-4 pt-1 mb-3">
                    <div><strong>So and So says:</strong></div>
                    <p class="comment-date">7/20/19 @@ 2:30 PM EST</p>
                    <p>This is what I have to say!</p>
                </div>

                <!-- Add conditional section.  No comment box if not logged in. -->
                
                <div class="white-border p-2 text-light d-flex justify-content-between">
                    <h4 class="d-inline">Sign In to comment!</h4>
                    <h4><a class="d-inline" asp-action="Index" asp-controller="User">Register or Login</a></h4>

                </div>


                <form action="AddComment" controller="Home" class="hidden">
                    <div class="form-group">
                        <label name="addCommentBox">To Add a comment - Sign In</label>
                        <textarea name="addCommentBox" class="form-control"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-dark border">Add Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>