
.blog-subtitle-icon{
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
}

.blog-subtitle-text{
    font-size: 12px;
    display: inline-block;
}

hr{
    margin: 4px 0px;
}

.comment{
    background-color: rgb(70, 70, 70);
}
.comment-border{
    border: .2px inset #ddd;
}

.comment-date{
    font-size: 10px;
}

#labels button{
    font-size: 11px;
    background-color: #67709A;
    color: white;
    margin: 0px 3px;
}