*{
    padding: 0px;
    margin: 0px;
}

textarea{
    resize: none;
}

hr{
    background-color: #DDD;
}

body{
    background-color: #666666;
    font-family: 'Literata', serif;
    color: #DDD;
}

.hidden{
    display: none;
}

.white-border{
    border: 1px solid #ddd;
}

.bg-shadowblue{
    background-color: #16204D;
}




