textarea{
    resize: none;
}

hr{
    background-color: #DDD;
}

#nav-placeholder{
    height: 27vh;
}

.white-border{
    border: 1px solid #ddd;
}

body{
    background-color: #666666;
    font-family: 'Literata', serif;
    color: #DDD;
}

.bg-shadowblue{
    background-color: #16204D;
}

#blog{
    
}

#labels button{
    font-size: 11px;
    background-color: #67709A;
    color: white;
    margin: 0px 3px;
}

